@{
    ViewData["Title"] = "Home Page";
}

<div class="padLeft10">
    You must enter the Learning Center through the <a href="https://cmssuite.azurewebsites.net">CMS Suite Portal</a>.
</div>

<script>
    var err = "@ViewBag.Error";
    console.log(err);
</script>